<mat-spinner *ngIf="isLoading$ | async; else personList" style="margin:0 auto;"></mat-spinner>
<ng-template #personList>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Persons</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="orderCount">
                  <mat-header-cell *matHeaderCellDef> Order Count</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.orderCount}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalShopping">
                  <mat-header-cell *matHeaderCellDef> Total Shopping</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.totalShopping}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="highestOrderTotalPrice">
                  <mat-header-cell *matHeaderCellDef> Highest Order Total Price</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.highestOrderTotalPrice}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="firstShoppingDate">
                  <mat-header-cell *matHeaderCellDef> First Shopping Date</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.firstShoppingDate}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastShoppingDate">
                  <mat-header-cell *matHeaderCellDef> Last Shopping Date</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.lastShoppingDate}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"
                                class="tableHeaderCellDiv"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
